/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    /*color: #555;*/
    color: #2f2f2f;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------- */
/* Reusable */
/* ------------------------------------- */

/* grid.css */

.row {
    max-width: 1140px;
    margin: 0 auto; 
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;    
}

/* Headers */

h1 {
    color: #fff;
    font-family: 'Tangerine', 'Snell Roundhand', cursive; /* weight is 700 */
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
    text-shadow: 3px 3px #000;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #e2e2e2;
    content: " ";
    width: 100%;
    margin-top: -15px;
}

h2 {
    font-size: 225%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 50px; 
    margin-bottom: 35px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e2e2e2;
    content: " ";
    width: 130px;
    margin: 0 auto;
    margin-top: 5px;
}

h3 {
    font-size: 170%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 25px; 
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 125%;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0;
    margin-top: 10px; 
    margin-bottom: 25px;
    text-align: center;    
}

/* Icons */

.icon-big {
    font-size: 350%;
    display: block;
}

.icon-small {
    font-size: 250%;
    display: block;
}

/* Paragraphs */

p {
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
}

.long-copy {
    font-size: 110%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/books.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/books.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/books.jpg);
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
    min-height: 400px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    padding-bottom: 1px; /* fix for firefox button cutoff bug */
    top: 47%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------------------------------------- */
/* About */
/* ------------------------------------- */

.about-me {
    
}

.about-me p {
    //margin-top: 35px;
    margin-bottom: 80px;
}

.about-me i {
    //margin-top: 35px;
    width: 15%;
    text-align: right;
    float: left;
}

/* ------------------------------------- */
/* Education */
/* ------------------------------------- */

.education {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/sfsu.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/sfsu.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/sfsu.jpg);    
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    //height: 40vh;
}

.education h2,
.education h3,
.education h4 {
    color: #fff;
    text-shadow: 3px 3px #000;
}

/*
.education i {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
} 
*/

.education h4 {
    margin-bottom: 50px;
}

/* ------------------------------------- */
/* Awards */
/* ------------------------------------- */

.awards ul {
    list-style: none;
    width: 80%;
    margin: 0;
    display: inline-block;
    float: left;
}

.awards ul li {
    //color: #fff;
    margin: 0;
    margin-bottom: 15px;
}